<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <title>Games</title>
    </head>

    <body>
        <div id="gameInfo">
            <ol>
                <li v-for="game in games">
                    <p>Game Name:</p>
                    <p>{{game.game_name}}</p>
                    <p>Current players:</p>
                    <p v-for="player in game.gamePlayers">{{player.player.user_name}}</p>
                </li>
            </ol>
        </div>

        <div id="scoreInfo">
            <table id="scoreTable">
                <thead>
                    <tr>
                        <td class="table_header">Player</td>
                        <td class="table_header">Score</td>
                        <td class="table_header">Wins</td>
                        <td class="table_header">Loses</td>
                        <td class="table_header">Ties</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="score in scores">
                        <td class="table_cell">{{score.player}}</td>
                        <td class="table_cell">{{score.points}}</td>
                        <td class="table_cell">{{score.wins}}</td>
                        <td class="table_cell">{{score.loses}}</td>
                        <td class="table_cell">{{score.ties}}</td>
                    </tr>
                </tbody>
            </table>
        </div>



        <script src="scripts/games.js"></script>
    </body>
</html>