<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link href="style/reset.css" type="text/css" rel="stylesheet" />
        <link href="style/style.css" type="text/css" rel="stylesheet" />

        <title>Current Game</title>
    </head>

    <body onkeyup.enter="rotateShip">
        
        <div id="gameInterface">
            <div class="game_info">
                <div class="player_name">
                    <p>{{creator}}</p>
                </div>
                <div class="vs">
                    <p>vs</p>
                </div>
                <div class="opponent_name">
                    <p>{{opponent}}</p>
                </div>
            </div>
            


            <div class="assigned_grid">
                <p>Grid of {{player}}</p>

                <p v-if="gameStatus != 'Place Ships'">Grid of {{opponent}}</p>
                <p v-if="gameStatus == 'Place Ships'">Prepare for battle!</p>
            </div>



            <div class="game_view">
                <div class="player_table">
                    <table v-on:click="placeShip" class="player_grid" id="player"></table>
                </div>

                <div v-if="gameStatus == 'Place Ships'" class="table_with_ships">
                    <table>
                        <thead>
                            <tr>
                                <td class="table_header">Ship</td>
                                <td class="table_header">Length</td>
                                <td class="table_header">Placed</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(ship, index) in allShips">
                                <td class="font" v-bind:id="ship.type" v-on:click="selectShip(ship.type)"><a v-on:mouseover="changePointer(ship.type)" v-on:mouseout="restoreColor(ship.type)">{{ship.type}}</a></td>
                                <td class="font">{{ship.length}}</td>
                                <td><p class="x" v-if="ship.isPlaced">V</p></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="selected_ship">
                        <p>{{selectedShip.type}}</p>
                    </div>

                    <div class="ship_layout">
                        <p class="ship_layout">Ships layout</p>
                    </div>

                    <div class="selected_ship_layout">
                        <img id="currentShip" v-bind:src="selectedShip.image" />
                    </div>


                    <div>
                        <button onclick="clearGrid()">Clear</button>
                        <button onclick="submitPlacement()">Submit</button>
                    </div>
                </div>


                <!--Voor wanneer alles goed werkt met het plaatsen van salvo's-->
                <!--v-if="gameStatus != 'Place Ships'"-->

                <div class="opponent_table">
                    <table v-on:click="placeSalvos" class="opponent_grid" id="opponent"></table>
                </div>

                <div>
                    <button onclick="submitSalvos()">Fire</button>
                </div>
            </div>

            <div class="placement_info" v-if="gameStatus == 'Place Ships'">
                <ol>
                    <li><p>1: Select a ship from the table</p></li>
                    <li><p>2: Rotate the ship if needed by pressing the 'R' key</p></li>
                    <li><p>3: Select a cell within the grid to place the ship</p></li>
                    <li><p>4: Submit when all ships are placed</p></li>
                </ol>
            </div>



        </div>

        <script src="scripts/main.js"></script>
        <script src="scripts/game.js"></script>
    </body>
</html>