<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" href="style/reset.css" type="text/css" />
    <link rel="stylesheet" href="style/style.css" type="text/css" />

    <title>My Game</title>
</head>
<body>
    <!--Header-->
    <div id="header">
        <div class="header">
            <div>
                <img src="images/logo.jpg" alt="Salvo" />
            </div>
            <div v-if="!isLoggedIn" class="welcome_wrapper">
                <div class="welcome">
                    <h1>Ahoy Matey!</h1>
                </div>
                <a href="#" @click="login = !login, signup = false"><img src="images/login.jpg" alt="" /></a>
                <a href="#" @click="signup = !signup, login = false"><img src="images/signup.jpg" alt="" /></a>
            </div>

            <div v-if="isLoggedIn" class="welcome_wrapper">
                <div class="welcome">
                    <h1>Ahoy {{player}}!</h1>
                </div>
                <a href="#" v-on:click="toJoin = !toJoin, showGamesToJoin()"><img src="images/join.jpg" alt="" /></a>
                <a href="#" onclick="createGame()"><img src="images/create.jpg" alt="" /></a>
                <a href="#" onclick="logOut()"><img src="images/logout.jpg" alt="" /></a>
            </div>
        </div>


        <!--Login-->
        <div class="login" v-if="login">
            <form method="post">
                <div class="popup">
                    <label>User name:</label><input id="inputUserName" type="text" name="username">
                    <label>Password:</label> <input id="inputUserPassWord" type="password" name="password">

                    <div class="popup_button">
                        <a href="#" onclick="logIn()"><img src="images/login.jpg" alt="" /></a>
                    </div>
                </div>


            </form>
        </div>

        <!--Sign up-->
        <div class="signup" v-if="signup">
            <form method="post">
                <div class="popup">
                    <label>User name:</label><input id="inputUserName" type="text" name="username">
                    <label>Mail Address:</label><input id="inputUserMail" type="text" name="usermail">
                    <label>Password:</label> <input id="inputUserPassWord" type="password" name="password">

                    <div class="popup_button">
                        <a href="#" onclick="signUp()"><img src="images/signup.jpg" alt="" /></a>
                    </div>
                </div>


            </form>
        </div>

        <!--Game Info-->
        <div v-if="!toJoin" class="current_games">
            <p class="table_title">Current Games</p>
            <table class="table_current_games">
                <thead>
                    <tr>
                        <td class="table_header">Game</td>
                        <td class="table_header">Creator</td>
                        <td class="table_header">Opponent</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="game in games">
                        <td>{{game.game_name}}</td>

                        <td>{{game.gamePlayers[0].player.user_name}}</td>
                        <td v-if="game.gamePlayers[1]">{{game.gamePlayers[1].player.user_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="toJoin">
            <table class="table_current_games">
                <thead>
                    <tr>
                        <td class="table_header">Game</td>
                        <td class="table_header">Creator</td>
                        <td class="table_header">Join</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(game, index) in gamesToJoin" v-if="gamesToJoin[index].gamePlayers[0].player.user_name != player">
                        <td>{{game.game_name}}</td>

                        <td>{{game.gamePlayers[0].player.user_name}}</td>
                        <td><a v-on:click="joinGame(index, 'join')">Challenge</a></td>
                    </tr>
                </tbody>
            </table>

            <table class="table_current_games">
                <thead>
                    <tr>
                        <td class="table_header">Game</td>
                        <td class="table_header">Creator</td>
                        <td class="table_header">Return</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(game, index) in gamesToReturn">
                        <td>{{game.game.game_name}}</td>
                        <td>{{game.game.gamePlayers[0].player.user_name}}</td>
                        <td><a v-on:click="returnToGame(index)">Return</a></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="ranking">
            <p class="table_title">Rankings</p>
            <table class="table_ranking">
                <thead>
                    <tr>
                        <td class="table_header">Player</td>
                        <td class="table_header">Score</td>
                        <td class="table_header">Wins</td>
                        <td class="table_header">Loses</td>
                        <td class="table_header">Ties</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="score in scores">
                        <td class="table_cell">{{score.player}}</td>
                        <td class="table_cell">{{score.points}}</td>
                        <td class="table_cell">{{score.wins}}</td>
                        <td class="table_cell">{{score.loses}}</td>
                        <td class="table_cell">{{score.ties}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
    <script src="scripts/main.js"></script>

</body>
</html>




<!--



-->
