
.player_grid,
.opponent_grid {
    height: 400px;
    width: 400px;
}


.grid_cell {
    height: 30px;
    width: 30px;
}


.player_grid td,
.opponent_grid td {
    border: 1px solid black;
}

/*border and background color is temporary*/
.cell_with_ship {
    background-color: teal;
}

.cell_hit {
    background-color: darkred;
}

.cell_miss {
    background-color: forestgreen;
}