
/*
==================================================
    Text styles
==================================================
*/

@font-face {
    font-family: "Black Pearl";
    src: url(BlackPearl.woff) format('woff');
}

h1 {
    font-size: 50px;
}

.table_title {
    font-size: 40px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    height: 60px;
}



/*
==================================================
    Body
==================================================
*/

body {
    width: 1000px;
    height: auto;
    background-color: #EEE;
    text-decoration: none;
    margin: auto;
    font-family: "Black Pearl"

}

/*
==================================================
    Header
==================================================
*/

.header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.welcome_wrapper {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.welcome {
    flex-basis: 100%;
    height: 100px;
    text-align: center;
}

.login,
.signup {
    display: flex;
    justify-content: center;
}

.popup {
    position: absolute;
    width: 425px;
    background-color: #EEE;
    border: 2px solid #777;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.popup input {
    flex-basis: 60%;
}

.popup label,
.popup input {
    margin: 5px 5px 0 5px;
}

.popup_button {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*
==================================================
    Game info
==================================================
*/

.app_wrapper {
    display: flex;
    justify-content: space-between;

}

.title_wrapper {
    flex-basis: 100%;
    display: flex;
}

.current_games,
.ranking {
    flex-basis: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.table_current_games, 
.table_ranking {
    flex-basis: 100%;
}

.table_current_games tbody tr,
.table_current_games thead tr,
.table_ranking tbody tr,
.table_ranking thead tr {
    display: flex;
}

.table_current_games td,
.table_ranking td {
    border: 1px solid #777;
    flex-basis: 26%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 1px
}

.table_header {
    font-size: 20px;
}

.table_cell {
    text-align: center;
}



/*
==================================================
    Game view
==================================================
*/

.game_info {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    font-size: 60px;
    margin: 10px 0;
}

.assigned_grid {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    font-size: 35px;
    margin: 20px 0 10px 0;
}

.game_view {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.selected_ship {
    text-align: center;
    margin: 5px 0;
    height: 20px;
}

.ship_layout {
    width: 400px;
    height: 30px;
    text-align: center;
    margin: 10px 0;
}

.selected_ship_layout {
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.table_with_ships table{
    width: 400px;
}

.table_with_ships td {
    border-left: 1px solid black;
    height: 25px;
    text-align: center;
}

.table_with_ships thead tr{
    border-bottom: 1px solid black;
}

.table_with_ships td:last-child {
    border-right: 1px solid black;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.placement_info {
    margin-top: 50px;
}

.x {
    font-size: 18px;
}

/*
==================================================
    Grid
==================================================
*/



.player_grid,
.opponent_grid {
    height: 400px;
    width: 400px;
}


.grid_cell {
    text-align: center;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}


.player_grid td,
.opponent_grid td {
    border: 1px solid black;
}


.cell_with_ship {
    height: 24px;
    width: 24px;
    background-color: #3267a3;
    margin: auto;
}

.cell_hit {
    height: 24px;
    width: 24px;
    background-color: darkred;
    margin: auto;
}

.cell_miss {
    height: 24px;
    width: 24px;
    background-color: forestgreen;
    margin: auto;
}

.cell_salvo {
    height: 24px;
    width: 24px;
    background-color: orangered;
    margin: auto;
}